body {
    background-color: blueviolet;
}

.crazyFont {
    color: #20f511;
    font-family: "press Start 2P";
    
}
p {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}
